body {
    font-family: 'Press Start 2P', cursive;
    background-color: #454545;
    color: #FDDE89;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-title {
    text-align: center;
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 0px;
}

.app-content {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content:  space-between;
    align-items: center;
    flex-grow: 1;
}

/* 5x5 BOARD */
.board {
    width: 45vw;
    padding-right: 5vw;
    position: relative;
}

.board .board-img {
    width: 100%;
    height: auto;
    display: block;
}

.player-img {
    position: absolute;
    width: 15%;
    height: auto;
}

/* PLAYER COMMANDS  */

.player-commands {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 20px;
}

/* PLAYER START */

.player-start {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.prop-ellr-box {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prop-ellr-box img {
    width: 100%;
    height: auto;
}

.prop-ellr-box .prop-ellr-idle {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 60%;
    height: 60%;
}

.prop-ellr-box, .restart-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart-button {
    padding-top: 10%;
}

/* PLAYER STATUS  */

.player-status {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.chat-container {
    position: relative;
    width: 75%;
    height: auto;
    overflow: hidden;
}

.chat-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    text-align: center;
    padding: 10px;
}


.player-controls {
    display: flex;
    flex-direction: row;
}


/* REUSABLE BUTTON  */
.reusable-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.button-img {
    width: auto;
    max-width: 80%;
    height: auto;
}

.reusable-button h2 {
    margin: 10px 0 0 0;
    text-align: center;
}
